{% extends 'template.html' %}
{% block title %}
Sign up
{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <h3>
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </h3>
{% endif %}
{% endwith %}
<h1>Sign-up</h1>
<form method="POST" action="/signup">
  <input type="text" name="username" placeholder="Your username" autofocus="">
  <input type="password" name="password" placeholder="Your Password">
  <input type="submit"/>
</form>
{% endblock %}